#!/bin/bash
set -ex

IMAGE=${docker_image}
docker pull $IMAGE

docker run -p 9010:9010 --restart always \
  --env "DBURI=mysql://${db_user}:${db_pass}@${db_host}/${db_name}" \
  --env "SECRET_KEY=234d9asvn3sd" \
  --env "PORT=9010" \
  --env "LOG_FORMAT=plain" \
  --env "LOG_LEVEL=WARNING" \
  $IMAGE public
